/*
  @theme Quiet Light
  @override-placeholders css, php, apache, markdown, ee, haskell, bash
  @author Ian Beck
*/

:document-base {
	color: #333333;
	background-color: #f5f5f5;
	insertion-point-color: #000;
	selection-background-color: default;
}

/* @group Generic */

tag, sourcecode, css, python, ruby, javascript {
	spell-check: disabled;
}

comment {
	color: #aaaaaa;
}

string {
	color: #448c27;
}

operator {
	color: #777777;
}

constant, numeric, character {
	color: #ab6526;
}

keyword {
	color: #4b83cd;
}

comment keyword {
	color: #aaaaaa;
	font-weight: bold;
}

variable {
	color: #7a3e9d;
}

function:not(definition) {
	color: #aa3731;
}

function.definition name, class.definition name {
	font-weight: bold;
	color: #aa3731;
}

invalid {
	color: #660000;
	background: rgba(150, 0, 0, 0.08);
}

/* @end */

/* @group HTML */

tag {
	color: #91b3e0;
}

entity.name, tag > name {
	color: #4b83cd;
	background: #f5f5f5;
	font-weight: normal;
}

/* Deprecated elements */
entity.name[text='applet'],
entity.name[text='basefont'],
entity.name[text='center'],
entity.name[text='dir'],
entity.name[text='font'],
entity.name[text='isindex'],
entity.name[text='menu'],
entity.name[text='s'],
entity.name[text='strike'],
entity.name[text='u'] {
	background: rgba(150, 0, 0, 0.08);
}

entity.character {
	color: #ab6526;
}

attribute-name {
	color: #91b3e0;
}

tag.doctype, tag.doctype entity.name {
	color: #aaaaaa;
}

comment.cdata {
	spell-check: disabled;
}

/* @end */

/* @group CSS */

css.embedded {
	background: #efe8f3;
}

css selector, css selector punctuation, css selector constant {
	color: #7a3e9d;
}

css property-name {
	color: #ab6526;
}

css property-value, css property-value constant, css property-value keyword {
	color: #448c27;
}

css punctuation {
	color: #333333;
}

css keyword.important {
	font-weight: bold;
}

css keyword.control punctuation {
	color: #91b3e0;
}

css comment punctuation {
	color: #aaaaaa;
}

css color, css color punctuation, css group-start, css group-end {
	color: #448c27;
}

css group-start name {
	font-weight: bold;
}

css function parameter {
	color: #448c27;
}

/* @end */

/* @group Javascript */

js.embedded {
	background: #eaebe6;
}

js variable {
	color: #333333;
}

js storage.type, js keyword.new {
	color: #7a3e9d;
}

js punctuation {
	color: #777777;
}

js comment > punctuation {
	color: #aaaaaa;
}

js string > punctuation, js variable.string {
	color: #448c27;
}

js class.constructor > class {
	color: #333333;
	font-weight: bold;
}

js variable.language, js character.escape > punctuation {
	color: #ab6526;
}

js function.definition > string > name {
	color: #448c27;
}

js function.definition > name, js function.definition > accessor-path > variable {
	color: #aa3731;
}

/* @end */

/* @group PHP */

php {
	background: #e6ebf2;
}

php delimiter.source, php delimiter.source > *, php definition name {
	color: #aa3731;
	font-weight: bold;
}

php keyword.language {
	color: #4b83cd;
}

php keyword.variable, php keyword.variable.language {
	color: #7a3e9d;
	font-weight: bold;
}

php delimiter, php string > expression.complex > punctuation {
	color: #777777;
}

php function {
	color: #aa3731;
}

php constant {
	color: #333333;
}

php constant.numeric, php constant.language, php constant.character {
	color: #ab6526;
}

php embedded.html {
	background-color: #f5f5f5;
}

/* @end */

/* @group Apache */

apache keyword.directive {
	color: #4b83cd;
}

apache tag {
	color: #ddb0ad;
}

apache entity.name, apache tag > name {
	color: #aa3731;
}

apache regex.operator.not {
	color: #7a3e9d;
}

/* @end */

/* @group Python */

python function.definition, python class.definition {
	color: #333333;
}

python function name, python class name {
	color: #aa3731;
	font-weight: bold;
}

python decorator {
	color: #aaaaaa;
}

python variable {
	color: #333333;
}

python keyword.variable {
	color: #7a3e9d;
}

python punctuation {
	color: #777777;
}

python string > punctuation {
	color: #448c27;
}

python comment punctuation, python decorator punctuation {
	color: #aaaaaa;
}

python constant punctuation {
	color: #ab6526;
}

python variable.function {
	color: #aa3731;
}

/* @end */

/* @group Ruby */

ruby module name {
	color: #aa3731;
	font-weight: bold;
}

embedded.ruby {
	background: #e6ebf2;
}

ruby delimiter.source, ruby delimiter.source > * {
	color: #aa3731;
	font-weight: bold;
}

/* @end */

/* @group Regex */

regex.operator {
	color: #b19bbd;
}

regex.group punctuation.definition, regex.anchor, regex.escaped, regex.character-class {
	color: #7a3e9d;
}

regex.character-class.set {
	color: #333333;
}

regex.character-class punctuation.definition {
	color: #7a3e9d;
}

regex-replace.back-reference {
	color: #7a3e9d;
}

/* @end */

/* @group Markdown */

markdown > punctuation.definition, markdown *:not(html,comment) punctuation.definition, markdown separator {
	color: #448c27;
}

markdown separator, markdown hard-break {
	background: #D3E1CD;
}

markdown header {
	font-weight: bold;
}

markdown bold {
	font-weight: bold;
}

markdown italic {
	font-style: italic;
}

markdown bold italic, markdown italic bold {
	font-weight: bold;
	font-style: italic;
}

markdown code {
	color: #777777;
}

markdown link, markdown image {
	color: #7a3e9d;
}

markdown link > punctuation, markdown image > punctuation {
	color: #448c27;
}

markdown url, markdown email {
	color: #4b83cd;
}

markdown keyword.reference {
	color: #ab6526;
}

/* @end */

/* @group Third Party */

/* @group ExpressionEngine */

/* This crap cancels out the damned placeholder theme */

ee ee.tag > attribute > attribute-name {
	color: #b19bbd;
	font-weight: normal;
}

ee ee.tag > attribute {
	color: #ab6526;
}

ee > ee.tag.self-closing.conditional {
	background: #f5f5f5;
}

ee > ee.tag.self-closing, ee > ee.tag.self-closing > name, ee > ee.tag.self-closing > punctuation, ee > ee.tag.self-closing attribute-name {
	color: #7a3e9d;
}

ee > ee.tag.self-closing > punctuation.definition {
	color: #b19bbd;
}

/* end of the placeholder killer crap */

ee.tag, ee ee.tag > ee.attribute-name, ee.operator, ee ee.tag > ee.punctuation.definition {
	color: #b19bbd;
}

ee.attribute {
	color: #ab6526;
}

ee ee.tag > ee.entity.name, ee ee.tag.conditional, ee ee.tag > name {
	color: #7a3e9d;
}

/* @end */

/* @group Haskell */

haskell processing, haskell comment.documentation {
	color: #aaaaaa;
	font-style: normal;
}

haskell identifier.module {
	color: #aa3731;
	font-weight: bold;
}

haskell identifier.type {
	color: #7a3e9d;
	font-weight: bold;
}

haskell identifier.function, haskell identifier.operator {
	color: #333333;
	font-weight: normal;
}

haskell identifier.variable {
	color: #7a3e9d;
}

/* @end */

/* @group Bash */

bash identifier.function {
	color: #333333;
	font-weight: normal;
}

bash identifier.variable {
	color: #7a3e9d;
}

/* @end */

/* @group AS3 */

as3 keyword.definition.as3, as3 keyword.control.flow {
	color: #4b83cd;
}

as3 keyword.definition.class, as3 container.method.call > keyword.definition.function {
	color: #aa3731;
}

keyword.operators.as3 {
	color: #777777;
}

as3 container.method.call > name {
	color: #333333;
}

as3 container.method > name {
	color: #7a3e9d;
}

as3 literal.keyword, as3 integral.value, as3 numeric.value, as3 literal.numeric, as3 literal.numeric > delimiter {
	color: #ab6526;
}

/* @end */

/* @group ColdFusion */

cfm.tag, cfm.tag > attribute-name {
	color: #b19bbd;
}

cfm.tag > name {
	color: #7a3e9d;
}

cfm operator, cfm keyword {
	color: #ab6526;
}

cfml.embedded output {
	color: #333333;
}

cfml.embedded coldfusion.embedded {
	color: #ab6526;
}

cfm function {
	color: #aa3731;
}

function.cfm > parenthesis {
	color: #ab6526;
}

/* @end */

/* @end */
